@media (orientation: portrait) {
    .ForeclosurePage {
      position: relative;
      left: 0;
      top: 0;
      width: calc(var(--app-width) * 1);
      height: fit-content;
      background-color: white;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    .ForeclosureHome {
        position: relative;
        margin-top: calc(var(--app-height) * .12);
        width: calc(var(--app-width) * 1);
        height: calc(var(--app-height) * 1.5);
        z-index: 4;
        background-color: white;
        pointer-events: none;
    }

    .DefaultContainer .WhyApex .ForeclosureCopy {
      font-size: calc(var(--app-width) * .04);
      top : 30%;
      transform: translate(-50%, -30%);
    }

    .DefaultContainer {
      height: calc(var(--app-height) * 1);
    }

    .WhyApex {
        width: 100%;
        height: 100%;
    }

    .WhyInitial {
        position: absolute;
        left: 50%;
        top : 5%;
        transform: translateX(-50%) translateY(-5%);
        width: 90%;
        height: 20%;
    }

    .WhySubtext {
        position: absolute;
        left: 2%;
        top: 0;
        color: black;
        font-family: Montserrat;

        background: linear-gradient(
          to right,
          #000000 0%,
          #000000 50%,
          #999898 50%,
          #999898 100%
        );

        background-size: 200% 100%;
        background-position: 100% 0;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .WhyHeadings {
        position: absolute;
        width: calc(var(--app-width) * .9);
        left: 50%;
        transform: translateX(-50%);
        top: 5%;
        height : fit-content;
        font-size: calc(var(--app-width) * .02);

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .MainHeading {
        color: black;
        font-family: Montserrat;

        background: linear-gradient(
          to right,
          #000000 0%,
          #000000 50%,
          #999898 50%,
          #999898 100%
        );

        background-size: 200% 100%;
        background-position: 100% 0;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .SubHeading {
        color: black;
        font-family: Montserrat;
    }

    .ForeclosureCopy {
        position: absolute;
        top : 50%;
        left : 50%;
        transform: translateY(-50%) translateX(-50%);
        width: calc(var(--app-width) * .9);
        height: fit-content;
        
        color: black;
        font-family: 'Montserrat';
        text-align: center;

        background: linear-gradient(
          to right,
          #000000 0%,
          #000000 50%,
          #999898 50%,
          #999898 100%
        );

        font-weight: 500;

        font-size: calc(var(--app-width) * .036);

        background-size: 200% 100%;
        background-position: 100% 0;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    @media (min-width : 600px) {
      .ForeclosureCopy {
        top : 45%;
        font-size: calc(var(--app-width) * .025);
      }

      .DefaultContainer .WhyApex .ForeclosureCopy {
        font-size: calc(var(--app-width) * .03);
      }
    }

    .HouseAssetForeclosure {
        position: absolute;
        left: 50%;
        top : 100%;
        width: calc(var(--app-width) * .9);
        transform: translate(-50%, -100%);
        overflow: hidden;
    }

    .HouseAssetForeclosure img {
        display: block;
        width: 100%;
        height: auto;
    }    
    
  .ShortTermOptions, .LongTermOptions, .ApexOptions {
    position: relative;
    width: calc(var(--app-width) * 1);
    height: calc(var(--app-height) * 1.2);
    background-color: white;
    z-index: 5;
  }

  .ApexOptions {
    height: calc(var(--app-height) * 2);
  }

  .OptionsMainHeading {
    position: absolute;
    left: 5%;
    top : 50%;
    height: 90%;
    transform: translate(-5%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;


  }

  .OptionsMainHeading span {
    color: black;
    font-family: 'Montserrat';
    font-size: calc(var(--app-width) * .07);
    font-weight: 700;

    background: linear-gradient(
          to right,
          #000000 0%,
          #000000 50%,
          #999898 50%,
          #999898 100%
        );

        background-size: 200% 100%;
        background-position: 100% 0;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
  }

    .OptionsMainHeading span span {
        color: darkgrey;
        font-family: 'Montserrat';
        font-size: calc(var(--app-width) * .07);
        font-weight: 700;

        background: linear-gradient(
          to right,
          #000000 0%,
          #000000 50%,
          #999898 50%,
          #999898 100%
        );

        background-size: 200% 100%;
        background-position: 100% 0;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
  }

  .OptionsMainHeading button {
    background-color: black;
    color: white;
    font-size: calc(var(--app-width) * .04);
    width: fit-content;
    border-radius: 35px;
  }

  .OptionsCopy {
    position: absolute;
    left: 95%;
    top : 90%;
    transform: translate(-95%, -90%);
    width: 90%;
    height: 90%;
    color : black;
    overflow-x: hidden;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .OptionsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .ForeclosureOption {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(var(--app-width) * .4);
    padding-left: calc(var(--app-width) * .05);
    padding-right: calc(var(--app-width) * .05);
    border-width: 1px;
    border-color: darkgrey;
    border-style: solid;
  }

  .ApexForeclosureOption {
    height : calc(var(--app-width) * .5)
  }

  .OptionMarker {
    height: 100%;
    width: 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

    .ForeclosureOption span {
        color: black;
        font-family: 'Montserrat';
        font-size: calc(var(--app-width) * .03);
        font-weight: 900;
        width: 90%;

        background: linear-gradient(
          to right,
          #999898 0%,
          #999898 50%,
          #000000 50%,
          #000000 100%
        );

        background-size: 200% 100%;
        background-position: 100% 0;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .OptionMarker span {
        color: darkgray;
        font-family: 'Montserrat';
        font-size: calc(var(--app-width) * .03);
        font-weight: 900;
    }
    .ForeclosureOption span span {
        color: darkgray;
        font-family: 'Montserrat';
        font-size: calc(var(--app-width) * .03);
        font-weight: 900;

        background: linear-gradient(
          to right,
          #999898 0%,
          #999898 50%,
          #000000 50%,
          #000000 100%
        );

        background-size: 200% 100%;
        background-position: 100% 0;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    @media (min-width : 600px) {
    .ForeclosureOption {
      height: calc(var(--app-width) * .3);
    }

    .ApexForeclosureOption {
      height : calc(var(--app-width) * .5)
    }

    .ForeclosureOption span {
      font-size: calc(var(--app-width) * .03);
    }

    .ForeclosureOption span span {
      font-size: calc(var(--app-width) * .03);
    }
    
    .OptionsCopy {
      top : 100%;
      transform: translate(-95%, -100%);
      justify-content: center;
    }

    .ApexOptions {
      height: calc(var(--app-height) * 2.8);
    }

    .ShortTermOptions, .LongTermOptions {
      height: calc(var(--app-height) * 1.2);
      z-index: 5;
    }
  }
}